*.DotSettings
*.ncrunchsolution
nCrunchTemp*
*.donotcheckin
*.suo
*.user
bin/
csx/
Bin/
obj/
*.Tests/lib/
packages/
node_modules/
instrumented/
*.lnk
TestResults/
_ReSharper.*/
*.vsp
buildlog.txt
.DS_Store
._.DS_Store
_NCrunch_*/
*.ncrunchproject
*.ReSharper
Artifacts
*.psess
Its.Log.Monitoring.UI/its.log.monitoring.js
Its.Log.Monitoring.UI/styles/monitoring.css
*.xml