<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value="packages" />
	</config>
	<packageSources>
		<clear/>
		<add key="NuGet official package source" value="https://nuget.org/api/v2/" />
		<add key="MS-NuGet" value="https://ms-nuget.cloudapp.net/api/v2/" />
	</packageSources>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageRestore>
		<add key="enabled" value="True" />
	</packageRestore>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>
</configuration>